<form action="/recipes" method="post">
  Recipe Name: <input type="text" name="name">
  Recipe Ingredients: <input type="text" name="ingredients">
  Recipe Cooktime: <input type="text" name="cook_time">
  <input type="submit" id="Submit">
</form>